<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.skio.crms.dao.persistence.CarRetreatEntityMapper">
    <!--根据合约编号查询退车表中的退车时间-->
    <select id="selectRetreatRecycleTime" parameterType="String" resultType="String">
        SELECT recycle_time FROM snow.car_retreat_orders
          WHERE car_lease_id =
          (SELECT id FROM snow.car_leases WHERE lease_number=#{leaseNumber});
    </select>

    <!--根据合约编号查询car_retreat_orders中的原有备注-->
    <select id="selectRetreatRemark" parameterType="String" resultType="String">
        SELECT remark FROM snow.car_retreat_orders
          WHERE car_lease_id  IN
          (SELECT id FROM snow.car_leases WHERE lease_number=#{leaseNumber});
    </select>

    <update id="updateCarRetreatReTime" parameterType="Map">
        UPDATE snow.car_retreat_orders SET recycle_time=#{recycleTime},remark=#{retreatRemark}
          WHERE car_lease_id IN
          (SELECT id FROM snow.car_leases WHERE lease_number=#{leaseNumber});
    </update>
</mapper>